body,
figure {
	margin: 0;
	padding: 0;
}

img {
	vertical-align: top;
}
.disable {
	width: 100vw;
	height: 100vh;
	overflow: hidden;
}
.box {
	display: -webkit-flex;;
	display: flex;
	justify-content: center;
	align-items: flex-start;
	width: 100vw;
	height: 100vh;
	overflow: hidden;
}
.banner-small {
	display: -webkit-flex;;
	display: flex;
	width: 100vw;
	flex-wrap: wrap;
}

.banner-small .banner-img {
	flex: 0 0 25vw;
}

.banner-img img {
	width: 25vw;
	height: auto;
}

.banner-big {
	position: absolute;
	display: flex;
}
.banner-big .banner-img {
	display: -webkit-flex;
	display: flex;
	width: 100vw;
	height: 100vh;
	flex-shrink: 0;
	justify-content: center;
	align-items: center;
	
}
.banner-big .banner-img-active {
	position: absolute;
	left: 0;
}
.tips {
	display: none;
	position: absolute;
	bottom: 5vh;
	align-items: center;
	z-index: 99999999;
}
.tips span{
	position: relative;
	width: 10px;
	height: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	line-height: 10px;
	background: #ccc;
	margin: 0 5px;
}
.tips .on {
	background: #fff;
}
